body{
   background-color: gray
}
.inline{
	display: inline-flex;
margin-top: 10%
}
@media (max-width:600px){
	.min{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.inline{
	display: inline-flex;
	justify-content: center;
}
}